<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xywei.mapper.TicketMapper">
	<select id="ticketFind" resultType="Ticket">
		select * from t_ticket
	</select>
	<update id="ticketDecrease">
	    update t_ticket set ticket_count=ticket_count-1
	</update>
</mapper>